<div class="block">
    <button (click)="clickNewProj()" class="new-proj-btn">Создать новый проект</button>
    <div *ngIf="isClicked">
        <h1>Создание нового проекта</h1>
        <label>Название</label><br>
        <input type="text" class="text-input" [(ngModel)]="name"><br>
        <label>Описание</label><br>
        <textarea type="text" class="text-input" [(ngModel)]="desc" rows="5"></textarea>
        <h3>*Изображения можно будет добавить позже*</h3>
        <button (click)="newProject()" class="create-proj-btn">Создать</button>
    </div>
</div>