<div class="title">
  <h1>Система краудфандинга проектов</h1>
</div>
<div *ngIf="!user">
  <app-auth></app-auth>
</div>
<div *ngIf="user">
  <app-profile [profileUser]="user"></app-profile>
  <div class="logout" (click)="logout()">
    <h1>Выйти</h1>
  </div>
</div>
<div *ngIf="user">
  <div>
    <app-new-project [authorId]="user.id"></app-new-project>
  </div>
  <h1 style="text-align: center;">Проекты</h1>
  <div class="project-list">
    <div *ngFor="let p of projects" class="project-card">
      <h2> {{ p.name }} </h2>
      <p> {{ p.description }} </p>
      <div class="proj-author">
        <h3> {{ p.author.id }} {{ p.author.firstName }} {{ p.author.lastName }}</h3>
      </div>

      <div class="proj-images" *ngIf="p.images.length>0">
        <div *ngFor="let image of p.images">
          <img [src]="'http://localhost:8080/api/v1/projects/'+p.id+'/images/'+image.id">
        </div>
      </div>
      <div class="proj-comments" *ngIf="p.comments.length>0">
        <h2>Комментарии</h2>
        <div *ngFor="let com of p.comments">
          <div class="proc-comment-card">
            <h3>{{ com.id }} {{ com.text }} </h3>
            <h4> {{ com.user.id }} {{ com.user.firstName }} {{ com.user.lastName }}</h4>
            <h5> {{ com.createdAt|date:'yyyy-MM-dd hh:mm' }}</h5>
          </div>
        </div>
      </div>
      <div class="project-card-buttons">
        <button class="proj-comment-btn" (click)="clickComment(p.id)">
          Оставить комментарий
        </button>
        <div class="delete-proj-block" *ngIf="p.author.id==user.id">
          <button class="delete-proj-btn" (click)="deleteProj(p.id)">
            Удалить
          </button>
        </div>
        <div class="support-proj-block" *ngIf="p.author.id!=user.id">
          <button class="proc-support-btn" (click)="clickSupport(p.id)">Поддержать проект</button>
        </div>
      </div>
      <div class="comment-block" *ngIf="p.id==selectedProj && showCommentBlock">
        <label>Комментарий</label><input type="text" class="text-input" [(ngModel)]="newCommentText">
        <button class="create-com-btn" (click)="createComment(newCommentText,p.id, user.id)"
          [disabled]="newCommentText==''">Отправить</button>
      </div>
      <div class="support-proj-block" *ngIf="p.id==selectedProj && showSupportBlock">
        <label>Сумма</label><input type="number" class="text-input" [(ngModel)]="supportAmount">
        <button (click)="supportProject(p.id)" [disabled]="supportAmount>user.balance">Поддержать</button>
      </div>
      <div *ngIf="user.balance < supportAmount">
        <h1 style="color:tomato;">Недостаточно средств</h1>
      </div>
    </div>
  </div>

</div>